<mat-card class="custom-container">
  <app-search-bar (search)="fetchWeather($event)"></app-search-bar>

  <div *ngIf="isLoading" class="loading-container">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    <p>Carregando dados...</p>
  </div>

  <div *ngIf="hasSearched" class="weather-container">
    <app-weather-card [weatherData]="weatherData"></app-weather-card>
  </div>

  <div *ngIf="hasSearched && !isLoading" class="map-container">
    <div class="map-container">
      <app-map [latitude]="latitude" [longitude]="longitude"></app-map>
    </div>
  </div>

  <div class="fixed-container">
    <a href="https://github.com/paulameg/bem-agro_weather-app" class="fixed-repository-link" target="_blank">
      Repositório no GitHub
    </a>
    <p class="fixed-footer-text">Feito por Paula Takahashi</p>
  </div>
</mat-card>
