<mat-card class="weather-card">
  <mat-card-header>
    <mat-card-title>{{ weatherData?.name }}</mat-card-title>
    <mat-card-subtitle>{{ weatherData?.sys.country }}</mat-card-subtitle>
  </mat-card-header>

  <div class="icon-container">
    <img [src]="'http://openweathermap.org/img/wn/' + weatherData?.weather[0].icon + '@2x.png'" class="icon" alt="Clima" />
    <div class="temperature">{{ weatherData?.main.temp }}°C</div>
    <div class="description">{{ weatherData?.weather[0].description }}</div>
  </div>


  <!-- Detalhes -->
  <div class="details">
    <div class="detail-item">
      <strong>Umidade:</strong> {{ weatherData?.main.humidity }}%
    </div>
    <div class="detail-item">
      <strong>Vento:</strong> {{ weatherData?.wind.speed }} km/h
    </div>
  </div>
</mat-card>
