* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: rgb(179, 220, 247);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

img {
  max-width: 100%;
  height: auto;
}
